@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lobster&family=Lobster+Two:ital,wght@0,700;1,400;1,700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

:root {
  --bg-color: #fff;
  --primary-color: #2196f3;
  --second-bg-color: #cfcfcf;
  --text-color: #0b061f;
  --main-color: #800080;
}

body {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 4rem;
  opacity: 0;
  animation: slideTop 1s ease forwards;
  animation-delay: 0.4s;
}

.logo h1::first-letter {
  font-family: "Lobster";
  color: var(--primary-color);
}

.container-login {
  width: clamp(200px, 100%, 700px);
  height: 40vh;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  border-radius: 10px;
  padding: 15px;
  opacity: 0;
  animation: slideTop 1s ease forwards;
}

.container-login form {
  width: 100%;
  height: calc(100% - 50px);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.container-login form .input-group {
  width: 100%;
  font-size: 1.25rem;
  position: relative;
}

.container-login form .input-group input {
  all: unset;
  width: 100%;
  color: #fefefe;
  padding: 1rem;
  border: 1px solid #9e9e9e;
  border-radius: 10px;
  transition: 150ms cubic-bezier(0.4, 0, 0.2, 1);
  box-sizing: border-box;
}

.container-login form .input-group label {
  position: absolute;
  top: 1rem;
  left: 1rem;
  color: #d4d4d4;
  pointer-events: none;
  transition: 15ms cubic-bezier(0.4, 0, 0.2, 0);
}

.container-login form .input-group input:focus {
  border: 1px solid var(--primary-color);
}

.container-login form .input-group input:is(:focus, :valid) ~ label {
  transform: translateY(-100%);
  scale: (0.7);
  background: #fff;
  padding-inline: 0.3rem;
  color: var(--primary-color);
}

.btn {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container-login form .btn-login,
.container-register form .btn-register {
  width: clamp(200px, 100%, 400px);
  padding: 0.5rem 1.5rem;
  border: none;
  border-radius: 10px;
  letter-spacing: 0.1rem;
  font-weight: bolder;
  color: var(--bg-color);
  background: var(--primary-color);
  cursor: pointer;
  transition: 0.3s ease;
}

.container-login form .btn-login:hover,
.container-register form .btn-register:hover {
  box-shadow: 0 0 1rem rgba(0, 0, 0, 0.4);
}

.container-login .section-register,
.container-login .section-forget-password,
.login {
  display: flex;
  justify-content: center;
  font-size: 1rem;
  gap: 5px;
  margin-bottom: 5px;
}

.container-login .section-register a,
.container-login .section-forget-password a,
.login a {
  color: var(--primary-color);
  background: none;
  border: none;
  cursor: pointer;
  text-decoration: none;
}

.container-login .section-register a:hover,
.container-login .section-forget-password a:hover,
.login a:hover {
  opacity: 0.7;
}

/* Page Register */

.container-register {
  width: clamp(200px, 100%, 800px);
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  border-radius: 10px;
  padding: 15px;
  opacity: 0;
  animation: slideTop 1s ease forwards;
}

.container-register h2 {
  font-size: 2rem;
  color: var(--primary-color);
  font-weight: 600;
  margin-bottom: 1rem;
}

.container-register form .input-group {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1rem;
  margin-bottom: 1rem;
}

.container-register form .input-group .input {
  position: relative;
  flex: 1 0 200px;
}

.container-register form .input-group .input input {
  all: unset;
  width: 100%;
  color: var(--text-color);
  padding: 1rem;
  border: 1px solid #9e9e9e;
  border-radius: 10px;
  transition: 150ms cubic-bezier(0.4, 0, 0.2, 1);
  box-sizing: border-box;
}

.container-register form .input-group .input label {
  position: absolute;
  top: 1rem;
  left: 1rem;
  color: #d4d4d4;
  pointer-events: none;
  transition: 15ms cubic-bezier(0.4, 0, 0.2, 0);
}

.container-register form .input-group .date label {
  display: none;
}

.container-register form .input-group .input input:focus {
  border: 1px solid var(--primary-color);
}

.container-register form .input-group .input input:is(:focus, :valid) ~ label {
  transform: translateY(-120%);
  scale: (0.7);
  background: #fff;
  padding-inline: 0.3rem;
  color: var(--primary-color);
  display: block;
}

/* Page Confirm Register */

.container-confirm-register {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 15px;
}

.icon-check {
  font-size: 4rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 3px solid #008000;
  border-radius: 50%;
}

.icon-check i {
  color: #008000;
}

.container-confirm-register p {
  width: clamp(200px, 100%, 450px);
  text-align: center;
  font-size: 1rem;
  color: #ada9a9;
}

@keyframes slideTop {
  0% {
    opacity: 0;
    transform: translateY(-300px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
